/* HEADER */

nav.navbar-wh-2{
    float: left;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 214, 55,0.5);
}
nav.navbar-wh-2 {
    z-index: 1000;
    float: left;
    position: fixed;
    width: 100%;
}
.navbar-wh-2 .navbar-brand img {
    float: left;
    position: relative;
    width: auto;
    height: 80px;
}
.navbar-wh-2 ul.navbar-nav.mr-auto li a {
    color: #000;
    margin-right: 20px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
.navbar-wh-2 ul.navbar-nav.mr-auto li a:hover {
    text-decoration: underline;
}
.navbar-wh-2 ul.navbar-nav {
    width: auto!important;
}



/* SECCION BANNER */

section.banner2 {
    float: left;
    height: 640px;
    position: relative;
    width: 100%;
}
.banner2 .bannerBox {
    float: left;
    position: relative;
    padding-top: 320px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.banner2 .ttlBox {
    float: left;
    position: relative;
   font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px #fff;
}
.banner2 .ttlBox h1 {
    float: none;
    position: relative;
    width: auto;
    margin: auto;
}
.subttlBox {
    float: left;
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
}
.subttlBox h2 {
    float: left;
    position: relative;
    width: 100%;
    font-family: source sans pro;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #fff;
}
.banner2BtnBox {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
}
.banner2 a.bannerBtn {
    float: none;
    position: relative;
    width: auto;
    padding: 15px 20px;
    color: #000;
    background: rgba(255,255,255,0.5);
    border: rgb(255, 214, 55) solid 2px;
    border-radius: 5px;
}

/* SECCION NOSOTROS */




section.nosotros {
    float: left;
    position: relative;
    padding: 30px 0 50px;
    width: 100%;
    background-color: #eee;
}

.nosotros .secTtl {
    float: left;
    position: relative;
    width: 100%;
}
.secTtl h3 {
    float: left;
    position: relative;
    width: 100%;
    font-family: source sans pro;
    text-align: center;
    margin-bottom: 25px;
}

/* SECCION SERVICIOS */


section.Servicios {
    float: left;
    padding: 30px 0 50px;
    background-color: #fff;
    position: relative;
    width: 100%;
}
.servBox {
    float: left;
    position: relative;
    width: 100%;
}
.servBox .secTtl {
    float: left;
    position: relative;
    width: 100%;
}
.servBox ul.nav.nav-tabs {
    display: flex;
    float: left;
    justify-content: space-between;
    width: 100%;
}
.servBox ul.nav.nav-tabs li.active {
    background: #ffc107;
    font-weight: 500;
}
.servBox ul.nav.nav-tabs li {
    border: solid 1px black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    flex-grow: 1;
}
.servBox ul.nav.nav-tabs li a {
    float: left;
    position: relative;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: black;
}
.Servicios .tab-content {
    float: left;
    position: relative;
    width: 100%;
}
.servBox ul.nav.nav-tabs li a.active {
    background: #ffc107;
    font-weight: 500;
}
.txtServ {
    float: left;
    position: relative;
    width: 100%;
    padding: 20px;
    font-family: source sans pro;
}
img.imgServ {
    padding: 5px;
    float: left;
    position: relative;
    width: 100%;
}

/* SECCION BENEFICIOS */

section.Beneficios {
    float: left;
    padding: 30px 0 50px;
    background-color: #eee;
    position: relative;
    width: 100%;
}
.benBox {
    float: left;
    position: relative;
    width: 100%;
}
.beneficio {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.benImgBox {
    float: left;
    position: relative;
    width: 100%;
}

.benImgBox img {
    float: none;
    position: relative;
    max-width: 100px;
    max-height: 100px;
}

/* SECCION CALENDARIO */



section.calendario {
    float: left;
    position: relative;
    width: 100%;
    background-image: url(../imagenes/therapy.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 0 20px;
}
.eventoBox {
    float: left;
    position: relative;
    width: 100%;
}

.eventoBkg {
    float: left;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    width: 85%;
    height: 300px;
    background-size: cover;
    margin-left: 15%;
}

.calendarioBox {
    float: left;
    position: relative;
    width: 100%;
}

.txtCalendario {
    float: left;
    position: relative;
    width: 100%;
}

.ttlCalendario {
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.subCalendario {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}

.calenCarousel {
    float: left;
    position: relative;
    width: 100%;
}

.nomEvento {
    float: left;
    position: absolute;
    width: 100%;
    background: #ffc107;
    font-family: source sans pro;
    text-align: center;
    bottom: 0;
    font-weight: 500;
}

.fechaEvento {
    float: right;
    position: relative;
    width: 80px;
    padding: 10px;
    background: #ffc107;
}

.diaEvento {
    float: left;
    position: relative;
    width: 100%;
    font-family: source sans pro;
    text-align: center;
    font-size: 30px;
}

.mesEvento {
    float: left;
    position: relative;
    width: 100%;
    font-family: source sans pro;
    text-align: center;
    font-size: 18px;
}

.anoEvento {
    float: left;
    position: relative;
    width: 100%;
    font-family: source sans pro;
    text-align: center;
    font-size: 25px;
}

/* SECCION COLABORADORES */


section.Colaboradores {
    float: left;
    position: relative;
    width: 100%;
    padding: 30px 0 20px;
}
.colabBox {
    float: left;
    position: relative;
    width: 100%;
}

.secTtl {
    float: left;
    position: relative;
    width: 100%;
}

.colabCarousel {
    float: left;
    position: relative;
    width: 100%;
}