.barra-menu-haphy {
    background-color: #ffd637 !important;
    float: left;
    position: relative;
    width: 100%;
    height: 40px;
}
.navbar-light .navbar-brand {
    text-align: center;
    float: left;
    position: relative;
    width: 100%;
    display: none;
}
.shade {
    float: left;
    position: relative;
    width: 100%;
    height: 150px;
}
.row.header-texts.text-1 {
    float: left;
    position: relative;
    width: 50%;
    padding-top: 30px;
    font-family: source sans pro;
}

.row.header-texts.text-2 {
    float: right;
    position: relative;
    width: 50%;
    padding-left: 435px;
    padding-top: 30px;
    font-family: source sans pro;
}
.titulo-block-1 h3 {
    font-family: source sans pro;
}
.ttl-block-1 h3 {
    font-family: source sans pro;
}
.texto-tiendas-block-pla p {
    font-family: source sans pro;

}
.subttl-block-1 p {
    font-family: source sans pro;
}
a.nav-link {
    font-family: source sans pro;
}
.row.header-texts.logo .navbar-brand {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}
.shade .row.header-texts.logo {
    float: left;
    position: relative;
    width: 100%;
}
.descripcionEmpresa p {
font-family: source sans pro;
}
.shade .row.header-texts.logo img {
    width: 145px;
}
header {
    position: absolute;
    z-index: 9;
    float: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.navbar-nav {
  justify-content: space-evenly;
width: 100%;
}
.col-md-12.py-5 {
    color: #ffd637;
    text-align: center;
}
.footer-copyright.text-center.py-3 {
    color: #fff;
}
.footer-copyright.text-center.py-3 a {
    color: gray;
    text-decoration: none;
    background-color: transparent;
}
.page-footer.font-small.cyan.darken-3 {
    background-color: black!important;
    float: left;
position: relative;
width: 100%;
}
.footer-copyright.text-center.py-3 {
    color: #fff;
    background-color: #1e1e1e!important;
}
.segunda-secc {
    float: left;
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.imagen-block-1 {

    float: left;
    position: relative;
    width: 100%;
margin-bottom: 15px;
}
.titulo-block-1 {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}
.texto-tiendas-block-pla {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}
.subttl-block-1 {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.ttl-block-1 {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px
  }
.derecopia {
    text-align: center;
    float: left;
    position: relative;
    width: 100%;
    background-color: #1e1e1e;
    color: white;
}
.derecopia a {
    color: #ffc107;
  }
.input-group-append {
    background-color: #ffc107;
        border-radius: 5px;
  }
  .imagenInfoBox2 {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}
.columna1 {
    float: left;
    position: relative;
    width: 100%;
}
.columna2 {
    float: left;
    position: relative;
    width: 100%;
}
.columna3 {
    float: left;
    position: relative;
    width: 100%;
}
.columna4 {
    float: left;
    position: relative;
    width: 100%;
}
ul.list-unstyled.list-inline.text-center {
    background-color: #ffc107;
        margin: 0px!important;
}
li.list-inline-item a {
    color: black;
}
footer .row {
    background-color: #000;
        padding-bottom: 35px;
}
.columna2 p, .columna2 h6 {
    color: #fff;
}
.columna3 p, .columna3 h6 {
    color: #fff;
}
.columna4 p, .columna4 h6 {
    color: #fff;
}
i.fas.fa-search {
    color: #fff;
}
.w-75 {
    width: 45%!important;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
}
form.input-group {
    width: 45%;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 200px;
}
.conText_3 {
  float: left;
  position: relative;
  width: 100%;
	background-image: url("../imagenes/agua.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 30px 0 20px;
}
.infoTextBox_3 {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;

}
.infoFundacion_3 h3{
    font-family: source sans pro;
}
.nombreEmpresa h5 {
    font-family: source sans pro;
}
.btnvermas {
    margin-top: 50px;
    font-family: source sans pro;
}
.btnFuncion {
  float: none;
  position: relative;
  width: auto;
  padding: 15px 20px;
  color: #000;
  background: rgba(255,255,255,0.5);
  border: rgb(255, 214, 55) solid 2px;
  border-radius: 5px;
}
h6.titucol {
    font-size: 15px;
    font-weight: 500;
    font-family: source sans pro;
}
.columna2 p, .columna3 p, .columna4 p {
    font-family: source sans pro;
}
.columna3 a {
    color: #ffc107;
}



h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
    font-family: source sans pro;
	font-weight: bold;
	position: relative;
	margin: 25px 0 50px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #ffdc12;
	left: 0;
	right: 0;
	bottom: -10px;
}
.carousel {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  padding: 30px 0 0;
}
.carousel .item a {
	color: #ffc107;
}
.carousel .img-box {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: #999;
    text-shadow: none;
	top: 4px;
}
.carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control.left {
	left: auto;
	right: 40px;
}
.carousel-control.right i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
  display: none!important;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {
	background: #e2e2e2;
	border-color: transparent;
}
.carousel-indicators li.active {
	border: none;
	background: #888;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgb(0, 0, 0)!important;
    background-color: rgba(0,0,0,0.7)!important;
    color: #fff!important;
}
nav.navbar-wh-2 {
    position: relative!important;
}


form.form-inline.my-2.my-lg-0 {
    float: right!important;
    position: relative!important;
    width: auto!important;
    background: #ffc107!important;
    border-radius: 5px!important;
    padding: 0px 15px!important;
    color: #000!important;
    border: #ffc107 solid 1px!important;
    font-family: source sans pro!important;
    text-transform: uppercase!important;
    height: auto;
    max-height: 400px;
}
.carru-sec {
  float: left;
  position: relative;
  width: 100%;
}
.ttl-carru {
    float: left;
    position: relative;
    width: 100%;
    padding: 30px 0 20px;
}
.ttl-carru h3 {
    text-align: center;
    font-family: source sans pro;
}
.secTxt {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}
.sticky {
    position: fixed;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(158,158,158,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(158,158,158,1);
    box-shadow: 0px 3px 5px 0px rgba(158,158,158,1);
}
.content-block-a {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(158,158,158,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(158,158,158,1);
    box-shadow: 0px 3px 5px 0px rgba(158,158,158,1);
}
.carousel-control-next, .carousel-control-prev {
    color: #ffc107!important;
    opacity: 1!important;
}
.carousel-control.left {
    left: 0px!important;
    right: auto!important;
}
