.carousel-slide {
    float: left;
    position: relative;
    background-position: center;
    width: 100%;
    min-height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
.titulo-block-1 h3 {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
