section.banner2 {
    float: left;
    height: 640px;
    position: relative;
    width: 100%;
}
.banner2 .bannerBox {
    float: left;
    position: relative;
    padding-top: 320px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
}
.banner2 .ttlBox {
    float: left;
    position: relative;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px #fff;
}
.banner2 .ttlBox h1 {
    float: none;
    position: relative;
    width: auto;
    margin: auto;
}
}
nav.navbar-wh-2 {
    float: left;
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,0,0.5);
}
.navbar-wh-2 .navbar-brand img {
    float: left;
    position: relative;
    width: auto;
    height: 80px;
}
.navbar-wh-2 ul.navbar-nav.mr-auto li a {
    color: #000;
    margin-right: 20px;
    font-weight: 600;
}
.navbar-wh-2 ul.navbar-nav.mr-auto li a:hover {
    text-decoration: underline;
}