section.banner2 {
    float: left;
    height: 640px;
    position: relative;
    width: 100%;
}
.banner2 .bannerBox {
    float: left;
    position: relative;
    padding-top: 320px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.navbar-wh-2 ul.navbar-nav {
    width: auto!important;
}
.banner2 .ttlBox {
    float: left;
    position: relative;
   font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px #fff;
}
.banner2 .ttlBox h1 {
    float: none;
    position: relative;
    width: auto;
    margin: auto;
}
}
nav.navbar-wh-2{
    float: left;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 214, 55,0.5);
}
nav.navbar-wh-2 {
    z-index: 1000;
    float: left;
    position: fixed;
    width: 100%;
}
.navbar-wh-2 .navbar-brand img {
    float: left;
    position: relative;
    width: auto;
    height: 80px;
}
.navbar-wh-2 ul.navbar-nav.mr-auto li a {
    color: #000;
    margin-right: 20px;
    font-weight: 600;
}
.navbar-wh-2 ul.navbar-nav.mr-auto li a:hover {
    text-decoration: underline;
}


.banner2BtnBox {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
}
.banner2 a.bannerBtn {
    float: none;
    position: relative;
    width: auto;
    padding: 15px 20px;
    color: #000;
    background: rgba(255,255,255,0.5);
    border: rgb(255, 214, 55) solid 2px;
    border-radius: 5px;
}

/* SECCION SERVICIOS */


section.Servicios {
    float: left;
    position: relative;
    width: 100%;
}
.servBox {
    float: left;
    position: relative;
    width: 100%;
}
.servBox .secTtl {
    float: left;
    position: relative;
    width: 100%;
}
.servBox ul.nav.nav-tabs {
    display: flex;
    float: left;
    justify-content: space-between;
    width: 100%;
}
.servBox ul.nav.nav-tabs li.active {
    background: #ffc107;
    font-weight: 500;
}
.servBox ul.nav.nav-tabs li {
    border: solid 1px black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    flex-grow: 1;
}
.servBox ul.nav.nav-tabs li a {
    float: left;
    position: relative;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: black;
}


/* SECCION BENEFICIOS */

section.Beneficios {
    float: left;
    position: relative;
    width: 100%;
}
.benBox {
    float: left;
    position: relative;
    width: 100%;
}
.beneficio {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}
.benImgBox {
    float: left;
    position: relative;
    width: 100%;
}

.benImgBox img {
    float: none;
    position: relative;
    max-width: 100px;
    max-height: 100px;
}